---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Fabián",
  country: "Colombia",
  occupation: "Developer",
  hobbies: ["reading", "coding", "gaming"],
};

const skill = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Node.js",
  "Express",
  "MySQL",
];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>... and my new Astro site!</h2>

  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my site, it's the first one I built myself!
  </p>

  <p>
    This will update as I complete more of the tutorial, so keep checking back
    and see how my journey is going!
  </p>

  <p>Let's explore some facts about me:</p>

  <ul>
    <li>
      My name is {identity.firstName}, I'm from {identity.country}.
    </li>
    <li>
      I'm a {identity.occupation} and I enjoy {identity.hobbies.join(", ")}.
    </li>
  </ul>

  <p>My skills are:</p>
  <ul>
    {skill.map((item) => <li class="skill">{item}</li>)}
  </ul>

  {happy && <p>I'm happy to be learning Astro!</p>}

  {finished && <p>I finished this tutorial!</p>}

  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }
</BaseLayout>
